name: Docker CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Start Containers
        run: docker compose up -d

      - name: Test Application
        run: |
          sleep 5
          curl localhost:5002 | grep "Traffic Monitor"

      - name: Shut Down
        run: docker compose down
